@model AppUserNavbarDTO
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">Ball 3D Tournament System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link badge-info badge-pill">Welcome, @Model.UserName</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-action="Register" asp-controller="Home">Teams</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAdmin">
                        <a class="dropdown-item" href="portfolio-1-col.html">Create Tournament</a>
                        <a class="dropdown-item" href="portfolio-2-col.html">Tournament List</a>
                        <a class="dropdown-item" href="portfolio-3-col.html">Active Tournament List</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-action="Logout" asp-controller="Home"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>