<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ball 3D Tournament System</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/modern-business.css" rel="stylesheet" />

</head>

<body>

    <!--Navigation-->
     @await Component.InvokeAsync("TopNavbar") 
    <!-- Navigation -->
 
    @RenderSection("slider",false)
  

    <!-- Page Content -->
    <div class="container">
        @RenderBody()
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-primary">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Ball 3D Tournament System @DateTime.Now.Year</p>
            <p class="m-0 text-center text-white text-sm-center" >By compo</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("JavaScript", false)

</body>

</html>
